@keyframes SelectWordQuestionSeletorAnimation {
    from {
        transform: scale(1.1);
    }
    to {
        margin-top: -2rem;
        transform: scale(0);
    }
}
.animation-question-select-word-seletor {
    animation: .4s SelectWordQuestionSeletorAnimation linear;
}

@keyframes SelectWordQuestionCardAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.animation-question-select-word-card {
    animation: .45s SelectWordQuestionCardAnimation linear;
}